@import 'variables.scss';

.container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 24px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorLightBlue;

  .questionWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 30%;
    max-width: 60%;
  }

  .actionWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .poin {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .result {
    font-size: 20px;

    &.success {
      color: $colorLightGreen;
    }

    &.error {
      color: $colorLightRed;
    }
  }

  .reset {
    position: absolute;
    top: 24px;
    right: 24px;
  }
}
