@import 'variables.scss';

s.questionMultipleChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correct {
  border-color: $colorLightGreen !important;
  color: $colorWhite !important;
  background-color: $colorLightGreen !important;
}

.incorrect {
  border-color: $colorLightRed !important;
  color: $colorWhite !important;
  background-color: $colorLightRed !important;
}
