@import 'variables.scss';

s.questionMultipleChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correct {
  border-color: $colorLightGreen;
  color: $colorWhite;
  background-color: $colorLightGreen;
}

.incorrect {
  border-color: $colorLightRed;
  color: $colorWhite;
  background-color: $colorLightRed;
}
