$colorWhite: #FFFFFF;
$colorBlack: #333333;
$colorLightGrey: #e7e7e7;

$colorPeach1: #FFF4D4;
$colorPeach2: #FCEFC7;
$colorPeach3: #FEE5B6;
$colorPeach4: #F6D79F;
$colorPeach5: #F3CE8F;

$colorLightBlue: #B3E7DC;
$colorLightGreen: #A6B401;
$colorLightYellow: #eFF67B;
$colorLightRed: #D50102;
$colorDarkRed: #6C0102;
